:root{
    --slate: #f1f5f9;
    --gray: #f3f4f6;
    --zinc: #e4e4e7;
    --dark-slate: #94a3b8;
    --stone: #52525b;
}

@font-face {
    font-family: 'Noto Sans', sans-serif;
    src: url(./NotoSans-Regular.ttf) format('tff');
    font-weight: 400;
    font-style: normal;
}

*{
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    color:var(--stone);

}

body{
    height: 100vh;
}

main{
    display: flex;
    height: 100%;

}

.projects-bar{
    background-color: var(--slate);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;
    box-shadow: 3px 0px 1px var(--dark-slate);
}

.bar-header,
.projects-list{
    margin: 30px 30px 20px 25px;
}

.bar-header{
    padding: 10px;
    background-color: var(--zinc);
    box-shadow: 10px 10px 5px #8888;
}



.new-project-div{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: auto;
    gap: 5px;
}

.new-project-button{
    border: none;
    border-top: 5px solid var(--zinc);
    padding: 5px;
    font-weight: 600;
    font-size: 15px;
}

.projects-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-button{
    background-color: var(--slate);
    text-align: start;
    font-size: 17px;
    border: none;
    padding: 5px;
    font-weight: 500;
    border: 1px solid var(--dark-slate);
}

.project-button.selected{
    background-color: var(--zinc);
}

.new-project-textfield{
    border: 2px solid var(--zinc) ;
    padding: 5px;
}

.new-project-textfield:focus{
    border-color: var(--dark-slate);
    border-right: none;
    outline: none;
}


.new-project-button:active{
    background-color: var(--dark-slate);
}

.project-div{
    display: flex;
    flex-direction: column;
    /* maybe center the project view? */
    padding: 70px 90px 90px 70px;
    gap: 50px;
    background-color: var(--gray);
    margin-left: 3px;
    width: calc(80% - 3px);
    overflow-y: auto;
}

.new-todo-button{
    align-self: flex-end;
    justify-self: flex-end;
    order: 2;
    background-color: #64748b;
    color: #fafafa;
    font-size: 40px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 5px solid #0f172a;
}

.new-todo-button:active{
    background-color: #0f172a;
}

.project-title{
    color:var(--slate);
    font-size: 40px;
    background-color: var(--dark-slate);
    border: 5px solid var(--stone);
    padding: 10px;
    margin-bottom: 50px;
}

.todo-div{
    display: flex;
    align-items: center;
    gap: 30px;
    border: 1px solid var(--stone);
    padding: 5px 20px;
    width: max(480px, 35vw);
}

.completed-todo{
    text-decoration: line-through;
    border: 3px solid var(--stone);
}

.low-todo{
    background-color: #d9f99d;
}

.medium-todo{
    background-color: #fef3c7;
}

.high-todo{
    background-color: #fca5a5;
}

.todo-checkbox{
    border-radius: 40px;
    height: 60px;
    min-width: 30px;
}

.todo-textfield,
.todo-date,
.todo-select{
    height: 25px;
    width: 300px;
    background-color: var(--gray);
}

.todo-date{
    min-width: 20px;
}

.remove-todo-button{
    background-color: #b91c1c;
    height: 30px;
    width: 50px;
    font-size: 20px;
    color: white;
    border: 2px solid black;
}

